{% extends "tcn/base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
       
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <!-- start Menu client --> 
            {% if user.is_authenticated and  user.role == 'client'%}
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">show favorites</a>
            </li>
            {% endif %}
            <!-- end Menu client -->

            <!-- start Menu Manger --> 
            {% if user.is_authenticated and  user.role == 'manager'%}
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">create office</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">view offices</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">create agent</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">view agents</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">track windows</a>
            </li>
            {% endif %}
            <!-- end Menu Manger --> 

            <!-- start logout menu for all -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    logout {{ user.role }} 
                </a>
                <ul class="dropdown-menu">
                    <div class="dropdown-divider"></div>
                    <div class="dropdown-divider"></div>
                    <div class="user-box">
                        <div class="u-text">
                          <h4>  {{ user.username }} </h4>
                          <p class="text-muted">{{ user.email }}</p>
                        </div>
                    </div>
                   <li><a class="dropdown-item link-danger" href="{% url 'tcn:login' %}"  >logout</a></li>
                    
                </ul>
            </li>
             <!-- end logout menu for all -->
        </ul>
        <!-- start Menu client --> 
        {% if user.is_authenticated and  user.role == 'client'%}
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        {% endif %}
        <!-- end Menu client --> 
      </div>
    </div>
  </nav>
{% endblock %}

