{% extends "tcn/base.html" %}

{% block title %}List Offices{% endblock %}

{% block content %}
<h1> {{ office_list.count }} Offices were found </h1>
<div class="d-flex justify-content-start align-items-start gap-3">
    {% for office in office_list %}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
            <h5 class="card-title">reference: {{ office.ref}}</h5>
            <p class="card-text">
                {% if office.ref == 'guest' %}
                default office was created by the system for custom user sign up
                {% else %}
                custom office was created by logged-in manager
                {% endif %} 
            </p>
            </div>
            <ul class="list-group list-group-flush">
            <li class="list-group-item">name: {{ office.name }}</li>
            <li class="list-group-item">country: {{ office.country }}</li>
            <li class="list-group-item">state: {{ office.state }}</li>
            <li class="list-group-item">region: {{ office.region }}</li>
            <li class="list-group-item">adress: {{ office.adress }}</li>
            <li class="list-group-item">number of windows: {{ office.number_of_windows }}</li>
            </ul>
            <div class="card-body">
            {% if office.ref == 'guest' %}
            <p class="text-danger font-weight-bold">change denied for default office!!</p>
            {% else %}
            <button type="button" class="btn btn-primary">update</button>
            <button type="button" class="btn btn-danger">Delete</button>
            {% endif %}
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
