
{% extends "tcn/base.html" %}
{% block title %}TrackedOffices{% endblock %}
{% block content %}
<h1>
    welcome to tracked offices
</h1>
<div class="d-flex justify-content-start align-items-start gap-3">
    {% for office in list_tracked_offices %}
    <div class="card" style="width: 25rem">
        <div class="card-body">
            <p class="display-3 text-primary d-block text-center border border-primary ">500</p>
            <h2 class="card-title" style="font-size:1.8em;">Reference: {{office.ref}}</h2>
            <span class="h5 text-gray">Name: {{office.name}}</span>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
